# Server
PORT=8080
BASE_URL=http://localhost:8080
# Database
MONGO_URI=
# Redis
REDIS_URL=
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_TLS=false
REDIS_FAMILY=4
# Training generation
NVIDIA_API_KEY=
NVIDIA_MODEL=qwen/qwen3.5-122b-a10b
NVIDIA_INVOKE_URL=https://integrate.api.nvidia.com/v1/chat/completions
# JWT
JWT_SECRET=raya_swann
# DigitalOcean Spaces / S3-compatible storage
DO_SPACES_KEY=your_do_spaces_key_here
DO_SPACES_SECRET=your_do_spaces_secret_here
DO_SPACES_REGION=sfo3
DO_SPACES_BUCKET=swannavespace
DO_SPACES_BUCKET_URL=https://swannavespace.sfo3.digitaloceanspaces.com
DO_SPACES_BUCKET_URL_CDN=https://swannavespace.sfo3.cdn.digitaloceanspaces.com
DO_SPACES_ROOT_FOLDER=swann
# CORS
CORS_ORIGIN=http://localhost:3000
#Twilio  
TWILIO_ACCOUNT_SID=your_twilio_account_sid_here
TWILIO_AUTH_TOKEN=your_twilio_auth_token_here  
