# Server
PORT=8080
BASE_URL=http://localhost:8080
# Database
MONGO_URI=
# Redis
REDIS_DB_PASSWORD=
# JWT
JWT_SECRET=raya_swann
# DigitalOcean Spaces / S3-compatible storage
DO_SPACES_KEY=your_do_spaces_key_here
DO_SPACES_SECRET=your_do_spaces_secret_here
DO_SPACES_REGION=your_do_spaces_region_here
DO_SPACES_BUCKET=your_do_spaces_bucket_name_here
# CORS
CORS_ORIGIN=http://localhost:3000
#Twilio  
TWILIO_ACCOUNT_SID=your_twilio_account_sid_here
TWILIO_AUTH_TOKEN=your_twilio_auth_token_here  